/* Color variables that could be used */
:root {
  --primary: #fa990e;
  --primary-dark: #fecc47;
  --secondary: #5b8d27;
  --secondary-dark: #114b0b;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --surface: #a4dbe4;
  --background: #a4dbe4;
  --error: #ba000d;
  --on-error: #ffffff;
  --testing: #f44336;  
}

:root[data-theme="dark"] {
  --primary: #cf778e;
  --primary-dark: #9c4961;
  --secondary: #77cfb7;
  --secondary-dark: #459e88;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --surface: #121212;
  --background: #272727;
  --error: #f44336;
  --on-error: #000000;
  --testing: #f44336;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HERE IS THE SECTIONS WITHOUT CLASSES - IF NO CLASS THESE ARE USED */

html { 
  height: 100%; 
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  
  min-height:100%;
  margin: auto;
  
  background-color: var(--background);
  color: var(--primary);
}

h1 {
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 200;

  text-align: center;
  line-height: 48px;

  padding: 0;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 200;

  text-align: center;
  line-height: 37px;

  padding: 0;
  margin: 0;
}

h4 {
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 200;

  text-align: center;
  line-height: 26px;

  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none; 
  margin: 0;
  outline: none;
}


/* THIS IS FOR FLEXBOX LAYOUT 
  FLEXBOX USED FOR SIMPLE ONE DIMENSION LAYOUTS */

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

/* HERE STARTS THE REAL CONTENT AND STYLING FOR THE SITE */

/* THE CONTAINER HAVE THE DISPLAY PROPERTY OF GRID SO A GRID LAYOUT CAN BE USED */
.container {
  display: grid;
  justify-items: center;
  
  grid-row-gap: 23px;
  grid-template-rows: auto 1fr auto;
  
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  background-color: var(--background);
}

/* THIS IS THE HEADER - SEE IF THIS SHOULD ALWAYS BE FIXED OR NOT */
.header {
  display:flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--primary);
  color: var(--on-primary);
  
  height: 50px;
  width: 100vw;
}

/* THIS IS THE MAIN CONTENT */
.main {
  background-color: var(--background);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 2px solid var(--secondary-dark);
  border-radius: 50%;
  
  height: 270px;
  width: 270px;
}

.time {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 48px;

  color: var(--secondary-dark);
}

/* THIS IS THE FOOTER */
.footer {
  display:flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--primary);
  color: var(--on-primary);

  height: 50px;
  width: 100vw;
 }