/* Color variables that could be used */
:root {
  --primary: #77CFB7;
  --primary-dark: #459e88;
  --secondary: #CF778E;
  --secondary-dark: #9c4961;
  --on-primary: #000000;
  --on-secondary: #ffffff;
  --on-background: #000000;
  --on-surface: #ffffff;
  --surface: #ffffff;
  --background: #ffffff;
  --testing: #f44336;  
}

:root[data-theme="dark"] {
  --primary: #CF778E;
  --primary-dark: #9c4961;
  --secondary: #77CFB7;
  --secondary-dark: #459e88;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --surface: #121212;
  --background: #272727;
  --testing: #f44336;
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  
  margin: auto;
  
  background-color: var(--background);
  color: var(--primary);
}

span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: var(--secondary);
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 200;

  text-align: center;
  line-height: 59px;

  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none; 
  margin: 0;
  outline: none;
}
